= render 'shared/navigation'
= render 'fluxes/new'

.container
  .row#myfluxes
    - @fluxes.each do |flux|
      .col-md-6
        .panel-primary
          .panel-heading
            .panel-title
              %h2= flux.title
              .line= link_to '', flux_path(flux.id), method: :delete, class: 'glyphicon glyphicon-remove white', data: { confirm: "Voulez-vous vraiment supprimer le flux \"#{flux.title}\" ?"}
          .panel-body
            %ul.list-inline
              - flux.actus.each do |actu|
                %li
                  = link_to truncate(actu.title, length: 60), actu.url, target: :blank
                %li.line
                  = link_to flux_article_reading_path(flux_id: flux.id, article_id: actu.id), method: :get do
                    - if actu.read
                      %span.glyphicon.glyphicon-eye-open.pull-right
                    - else
                      %span.glyphicon.glyphicon-eye-close.pull-right
